<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Sort Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/assets/img/favicon.png}" rel="icon">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/home/index/css/style.css}">
</head>

<body>
    <div class="limiter">

        <div class="page-header">

            <img class="page-header-item" th:src="@{/assets/img/mthree_logo.png}" alt="">

        </div>
        
        <div class='page-header-2'>
            <a id="previousTradesButton" href="/user/home" title="previousTrades" class="btn-prev-trade">Return to Home
                page</a>

            <a id="personalBookButton" href="/user/personalBook" title="personalBook" class="btn-prev-trade">View
                Personal Book</a>
        </div>

        <section id="hero">
            <div class="hero-container">
                <h2 class="execute-center">Trade executed successfully</h2>
            </div>
        </section>

    </div>
</body>

</html>