<!DOCTYPE html>
<html lang="en"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:th="http://www.thymeleaf.org"
			layout:decorate="~{fragments/layout}">
<head>
	<title>Sort Project</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link th:href="@{/assets/img/favicon.png}" rel="icon">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/main.css}">
</head>
<body>
	<div class="limiter">

		<div class="page-header">

			<img class="page-header-item" th:src="@{/assets/img/mthree_logo.png}" alt="">

			<div class="page-header-2">

				<a id="logoutButton" href="/user/logout" title="logout" class="btn-logout">Logout</a>
			</div>
		</div>

		<div class="page-sub-header">
			<h3 class="page-header-item-welcome">
        <span class="welcome">Welcome</span>
        <span class="username" th:text="${trader.getUsername()}"></span>
      </h3>
		</div>

		<div class="container-table100">
			<div class="stock-info">
				<div class="current-stock">
					<h3>
                        <span class="currentStock">Current stock: </span>
                    </h3>

                    <form th:action="@{/user/stock-info}" th:object="${orderBook}" method="post">
                        <select th:field="*{ric}" class="select-css" onchange="this.form.submit()">
                        <option th:each="ric : ${T(com.mthree.models.Ric).values()}"
                            th:value="${ric}"
                            th:text="${ric.getNotation()}">
                        </option>
                        </select>
                    </form>

				</div>

				<div class="stock-activity-container">
					<div>
						<h3 class="stock-activity">Overall stock activity:</h3>
						<h4 class="stock-activity-info">
							<span class="orders">Orders: </span>
							<span class="totalOrders" th:text="${totalOrders}"></span>
						</h4>
						<h4 class="stock-activity-info">
							<span class="volume">Volume: </span>
							<span class="totalVolume" th:text="${totalVolume}"></span>
						</h4>
					</div>
				</div>
			</div>

			<div class="table-container">

				<div class="add-order-container">
					<div class="add-order-sub-container">
						<form th:action="@{/order/new}" th:object="${order}" method="post" class="login100-form">
							<h5 class="stock-activity">
								<span class="add-order">Add Order </span>
							</h5>
							<h6 class="stock-activity-info">
								<span class="ric">Ric:</span>
								<span class="current-ric" th:text="${orderBook.getRic().getNotation()}"></span>
							</h6>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="number" min="0.01" step="0.01" value="0.01" pattern="(d{4})([.])(d{2})" name="price" th:field="*{price}" th:required="required">
								<span class="label-input100">Price</span>
							</div>
							<p class="error" th:each="error: ${#fields.errors('price')}" th:text="${error}">
								Please Input a Numerical Value
							</p>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="number" min="1" value="1" name="quantity" th:field="*{quantity}" th:required="required">
								<span class="label-input100">Quantity</span>
							</div>
							<p class="error" th:each="error: ${#fields.errors('quantity')}" th:text="${error}">
								Please Input a Numerical Value
							</p>

							 <div class="stock-activity-info">
								<h6 class="stock-activity-info">
									<span class="type">Type: </span>
								</h6>
								<select th:field="*{type}" class="select-css">
									<option th:each="type : ${T(com.mthree.models.OrderType).values()}"
										th:value="${type}"
										th:text="${type}">
									</option>
								</select>
							</div>

							<div class="stock-activity-info">
								<h6 class="stock-activity-info">
									<span class="type">Exchange: </span>
								</h6>
								<select th:field="*{mpid}" class="select-css">
									<option th:each="exchangeMpid : ${sortExchanges}"
										th:value="${exchangeMpid}"
										th:text="${exchangeMpid.getNotation()}">
									</option>
								</select>
							</div>
							<div class="order-buttons-container">
								<input class="btn-add-order" type="submit" value="Add Order" />
							</div>
						</form>
					</div>
				</div>


				<div class="wrap-table100">
					<table class="table">
					  <thead>
					    <tr class="major-row header">
					      	<th id="buyOrders" colspan="4">BUY ORDERS</th>
					      	<th id="sellOrders" class="outlined" colspan="4">SELL ORDERS</th>
					    </tr>
					    <tr class="minor-row header">
					      	<th id="buyTime">TIME</th>
					      	<th id="buyMpid">MPID</th>
					      	<th id="buyQuantity">SHARES</th>
					      	<th id="buyPrice">BID</th>
						  	<th id="sellPrice" class="outlined">ASK</th>
						  	<th id="sellQuantity">SHARES</th>
							<th id="sellMpid">MPID</th>
							<th id="sellTime">TIME</th>
					    </tr>
					  </thead>
					  <tbody>
							<th:block th:each="trade, iterStat : ${tempTrades.keySet()}">
                                <tr th:classappend="${iterStat.index != tempTrades.size() - 1} ? row : last-row">
									<input type="hidden" id="tradeId" name="tradeId" th:value="${trade.getId()}">
                                    <td class="cell" th:text="${trade.getBuyOrder().getSubmitTime().toLocalTime()}">buy order time</td>
                                    <td class="cell" th:text="${tempTrades.get(trade).get(0).getNotation()}">buy order exchange id</td>
                                    <td class="cell" th:text="${trade.getBuyOrder().getQuantity()}">buy order quantity</td>
                                    <td class="cell" th:text="${trade.getBuyOrder().getPrice()}">buy order price</td>
                                    <td class="cell outlined" th:text="${trade.getSellOrder().getPrice()}">sell order price</td>
                                    <td class="cell"  th:text="${trade.getSellOrder().getQuantity()}">sell order quantity</td>
                                    <td class="cell" th:text="${tempTrades.get(trade).get(1).getNotation()}">sell order exchange id</td>
                                    <td class="cell" th:text="${trade.getSellOrder().getSubmitTime().toLocalTime()}">sell order time</td>
                                </tr>
                            </th:block>
					  </tbody>
					</table>
				</div>

				<div class="buttons-container">
					<form  th:action="@{/user/executeTrade}" method="POST">
						<button type="submit" id="executeTradeButton" name="executeTradeButton" title="executeTrade" class="btn-exec-trade" disabled>Execute Trade</button>
					</form>
				</div>

			</div>

		</div>
	</div>

    <script type="text/javascript" th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/home/js/main.js}"></script>

</body>
</html>
