<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div>
			<form action="/user/homepage" method="GET">
				<h3>
					Welcome <span th:text="${#username}"></span>
				</h3>

	<!--  <select>
    <option th:each="ric : ${T(com.models.Ric).values()}"
            th:value="${ric}"
            th:text="${ric}">
    </option>
</select>-->


				<!--   <form th:action="@{/user/logout}" method="post">
			<input type="submit" value="Logout" />
		</form> -->
			</form>
		</div>
	</div>
</body>
</html>