<!DOCTYPE html>
<html lang="en"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:th="http://www.thymeleaf.org"
			layout:decorate="~{fragments/layout}">
<head>
	<title>Sort Project</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

	<!-- Template Main CSS File -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/register-login/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/register-login/css/main.css}">

</head>
<body style="background-color: #f0edf0;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form th:action="@{/user/login}" method="post" class="login100-form validate-form">

					<span class="login100-form-title p-b-43">
						Trader Login
					</span>
	
					<!-- show notification on error -->
					<div class="error" th:if="${param.error}">Invalid username or password.</div>
	
					<!-- show notification of logout -->
					<div class="error" th:if="${param.logout}">You have been logged out.</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" th:required="required" th:autofocus="autofocus">
						<span class="label-input100">Username</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="password" th:required="required">
						<span class="label-input100">Password</span>
					</div>


					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Login" />
					</div>

					<div class="container-login100-form-back">
						<a class="login100-form-back" href="/">
							Back to welcome page
						</a>
					</div>
				</form>

				<div class="login100-more">
					<img class="login100-more-img" th:src="@{/assets/img/trader.png}" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor JS Files -->
	<script src="@{/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
