<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Sort Project</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link th:href="@{/assets/img/favicon.png}" rel="icon">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
		rel="stylesheet">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/home/css/main.css}">
</head>

<body>
	<div class="limiter">

		<div class="page-header">

			<img class="page-header-item" th:src="@{/assets/img/mthree_logo.png}" alt="">

			<div class="page-header-2">
				<a id="previousTradesButton" href="/user/home" title="previousTrades" class="btn-prev-trade">Return to
					Home
					page</a>
				<a id="logoutButton" href="/user/logout" title="logout" class="btn-logout">Logout</a>
			</div>
		</div>

		<div class="page-sub-header">
			<h3 class="page-header-item-welcome">
				<span class="welcome">Order Book of:</span>
				<span class="username" th:text="${trader.getUsername()}"></span>
			</h3>
		</div>

		<div class="container-table100">
			<div class="stock-info">
			</div>

			<div class="table-container">
				<div class="wrap-table100" style="width: 100%;">
					<table class="table">
						<thead>
							<tr class="major-row header">
								<th id="ric" colspan="1">ORDER</th>
								<th id="buyOrders" class="outlined" colspan="3">BUY ORDERS</th>
								<th id="sellOrders" class="outlined" colspan="3">SELL ORDERS</th>
								<th id="tradeDetail" class="outlined" colspan="1">TRADE</th>
							</tr>
							<tr class="minor-row header">
								<th id="ric">RIC</th>
								<th id="buyTime" class="outlined">TIME</th>
								<th id="buyMpid">MPID</th>
								<th id="buyQuantity">SHARES</th>
								<th id="sellQuantity" class="outlined">SHARES</th>
								<th id="sellMpid">MPID</th>
								<th id="sellTime">TIME</th>
								<th id="tradePrice" class="outlined">PRICE</th>

							</tr>
						</thead>
						<tbody>
							<th:block th:each="trade, iterStat : ${executedTrades.keySet()}">
								<tr th:classappend="${iterStat.index != executedTrades.size() - 1} ? row : last-row">
									<input type="hidden" id="tradeId" name="tradeId" th:value="${trade.getId()}">
									<td class="cell" th:text="${trade.getBuyOrder().getRic().getNotation()}">ric</td>
									<td class="cell outlined" th:text="${trade.getBuyOrder().getSubmitTime().toLocalTime()}">buy order time</td>
									<td class="cell" th:text="${executedTrades.get(trade).get(0).getNotation()}">buy order exchange id</td>
									<td class="cell" th:text="${trade.getBuyOrder().getQuantity()}">buy order quantity</td>
									<td class="cell outlined" th:text="${trade.getSellOrder().getQuantity()}">sell order quantity</td>
									<td class="cell" th:text="${executedTrades.get(trade).get(1).getNotation()}">sell order exchange id</td>
									<td class="cell" th:text="${trade.getSellOrder().getSubmitTime().toLocalTime()}">sell order time</td>
									<td class="cell outlined" th:text="${trade.getBuyOrder().getPrice()}">trade price</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>



			</div>

		</div>
	</div>

	<script type="text/javascript" th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/home/js/main.js}"></script>

</body>

</html>