<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Sort Project</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

	<!-- Template Main CSS File -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/register-login/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/register-login/css/main.css}">

</head>

<body style="background-color: #f0edf0;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form th:action="@{/user/new}" th:object="${userForm}" method="post" class="login100-form validate-form">

					<span class="login100-form-title p-b-43">
						Trader Registration
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" th:field="*{username}">
						<span class="label-input100">Username</span>
					</div>

					<p class="error" th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>

					<div class="wrap-input100">
						<span class="label-input100">Region</span>
						<select class="select-css" th:field="*{region}">
							<option th:each="region : ${T(com.mthree.models.Region).values()}"
									th:value="${region}"
									th:text="${region}">
							</option>
						</select>
					</div>

					<p class="error" th:each="error: ${#fields.errors('region')}" th:text="${error}">Validation error</p>

					<div class="wrap-input100">
						<input class="input100" type="password" th:field="*{password}">
						<span class="label-input100">Password</span>
					</div>

					<p class="error" th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>

					<div class="wrap-input100">
						<input class="input100" type="password" th:field="*{passwordConfirm}">
						<span class="label-input100">Confirm Password</span>
					</div>

					<p class="error" th:each="error : ${#fields.errors('passwordConfirm')}"
							th:text="${error}">Validation error</p>

					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Register" />
					</div>

					<div class="container-login100-form-back">
						<a class="login100-form-back" href="/user/login">
							Login
						</a>
					</div>
				</form>

				<div class="login100-more">
					<img class="login100-more-img" th:src="@{/assets/img/trader.png}" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor JS Files -->
	<script src="@{/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
